body {
    margin: 0;
    padding: 0;
    background-image: url(../img/stars33.png);
    background-size: 100%;
}

/* Planet Names ----------------------- */
p {
    color: white;
    font-family: system-ui;
    position: absolute;
    left: -62px;
    top: -11px;
}

/* Sun ----------------------- */
.sun {
    height: 120px;
    width: 120px;
    background-image: url(../img/sun1.png);
    border-radius: 50%;
    background-size: cover;
    /* box-shadow: -4px 2px 50px #f9c05f; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Mercury -----------------------*/
.mercury {
    height: 20px;
    width: 20px;
    background-image: url(../img/mercury1.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: -4px 2px 50px #f9c05f; */
    left: 43%;
    top: 42%;
    transform: translate(-50%, -50%);
    animation: orbit1 5s linear infinite;
}

@keyframes orbit1 {
    from{transform: rotate(0deg) translateX(70px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(70px) rotate(-360deg);}
}

/* Venus -----------------------*/
.venus {
    height: 40px;
    width: 40px;
    background-image: url(../img/venus1.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: -4px 2px 50px #c1aa81; */
    left: 40%;
    top: 42%;
    transform: translate(-50%, -50%);
    animation: orbit2 10s linear infinite;
}

@keyframes orbit2 {
    from{transform: rotate(0deg) translateX(100px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(100px) rotate(-360deg);}
}

/* Earth -----------------------*/
.earth {
    height: 40px;
    width: 40px;
    background-image: url(../img/earth1.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: -4px 2px 50px #2855d6; */
    left: 44%;
    top: 43%;
    transform: translate(-50%, -50%);
    animation: orbit3 20s linear infinite;
}

@keyframes orbit3 {
    from{transform: rotate(0deg) translateX(150px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(150px) rotate(-360deg);}
}

/* Earth Moon -----------------------*/
.moon-outline {
    height: 65px;
    width: 65px;
    border: 1px dotted white;
    position: relative;
    left: -13px;
    top: -13px;
    border-radius: 50px;
}
.moon {
    height: 10px;
    width: 10px;
    background-image: url(../img/moon1.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: orbit3-1 3s linear infinite;
}

@keyframes orbit3-1 {
    from{transform: rotate(0deg) translateX(33px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(33px) rotate(-360deg);}
}

/* Mars -----------------------*/
.mars {
    height: 30px;
    width: 30px;
    background-image: url(../img/mars1.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: -4px 2px 50px #fea535; */
    left: 46.5%;
    top: 46.5%;
    transform: translate(-50%, -50%);
    animation: orbit4 30s linear infinite;
}

@keyframes orbit4 {
    from{transform: rotate(0deg) translateX(185px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(185px) rotate(-360deg);}
}

/* Jupiter -----------------------*/
.jupiter {
    height: 40px;
    width: 40px;
    background-image: url(../img/jupiter1.png);
    background-size: 100%;
    border-radius: 50%;
    position: absolute;
    /* box-shadow: -4px 2px 50px #cac2b9; */
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: orbit5 60s linear infinite;
}

@keyframes orbit5 {
    from{transform: rotate(0deg) translateX(217px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(217px) rotate(-360deg);}
}

/* Saturn -----------------------*/
.saturn {
    height: 50px;
    width: 50px;
    background-image: url(../img/saturn1.png);
    background-size: 100%;
    position: absolute;
    left: 45%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: orbit6 90s linear infinite;
}

@keyframes orbit6 {
    from{transform: rotate(0deg) translateX(250px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(250px) rotate(-360deg);}
}

/* Uranus -----------------------*/
.uranus {
    height: 30px;
    width: 30px;
    background-image: url(../img/uranus1.png);
    background-size: 100%;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit7 120s linear infinite;
}

@keyframes orbit7 {
    from{transform: rotate(0deg) translateX(280px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(280px) rotate(-360deg);}
}

/* Neptune -----------------------*/
.neptune {
    height: 30px;
    width: 30px;
    background-image: url(../img/neptune1.png);
    background-size: 100%;
    position: absolute;
    left: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    animation: orbit8 150s linear infinite;
}

@keyframes orbit8 {
    from{transform: rotate(0deg) translateX(310px) rotate(0deg);}
    to{transform: rotate(360deg) translateX(310px) rotate(-360deg);}
}

/* outlines ORBIT */
.mercury-outline, .venus-outline, 
.earth-outline, .mars-outline,
.jupiter-outline, .saturn-outline, 
.uranus-outline, .neptune-outline {
    border-radius: 50%;
    border: 1.5px dotted #ddd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mercury-outline {
    height: 140px;
    width: 140px;
}

.venus-outline {
    height: 200px;
    width: 200px;
}

.earth-outline {
    height: 300px;
    width: 300px;
}

.mars-outline {
    height: 370px;
    width: 370px;
}

.jupiter-outline {
    height: 430px;
    width: 430px;
}

.saturn-outline {
    height: 500px;
    width: 500px;
}

.uranus-outline {
    height: 560px;
    width: 560px;
}

.neptune-outline {
    height: 620px;
    width: 620px;
}


